[submodule "backend"]
	path = backend
	url = https://github.com/CapituloJaverianoACM/hormiga-culona-back-end.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CapituloJaverianoACM/hormiga-culona-front-end
